big_dataset_creation/deepFashion/
big_dataset_creation/deepFashion2/
big_dataset_creation/Fashion_200K/
big_dataset_creation/final_data_224/
big_dataset_creation/GroceryStoreDataset/
big_dataset_creation/products10k/
big_dataset_creation/rp2k/
big_dataset_creation/Shopee
big_dataset_creation/Stanford_Online_Products/
big_dataset_creation/final_data_224.zip